{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Prostages!{% endblock %}


{% block body %}

        <div class="container-fluid">

            <div class="row">
                <div class="col-10 offset-1">
                    <div class="p-3 border bg-light">
                        <h1>Bienvenue sur la page d'accueil !</h1>
                    </div>
                </div>
            </div>

            <div class="row">.</div>

            <div class="row">

                <div class="col-3 offset-1">
                    <div class="p-3 border bg-light">
                        <h2>------- Filtres --------</h2>
                        <a href='./entreprises'>Entreprises</a><BR>
                        <a href='./formations'>Formations</a><BR>
                    </div>
                </div>
                
                <div class="col-7">
                    <div class="p-3 border bg-light">
                        <h2>---------------------------- Contenu -------------------------------</h2>
                        <h3>Tous les stages disponibles :</h3>
                        <ul>
                            {% for stage in tabStages %}
                                <li><a href=./stages/{{ stage }}>Stage {{ stage }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

{% endblock %}