{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Prostages!{% endblock %}

{% block body %}

    {% block contenu %}

            <h1>Bienvenue sur la page d'accueil ! ✅</h1>
    
            <a href='./entreprises'>Entreprises</a><BR>
            <a href='./formations'>Formations</a><BR>
    
            <p>Liste des stages disponibles :</p>

            <div>
                <ul>
                    {% for stage in tabStages %}
                        <li><a href=./stages/{{ stage }}>Stage {{ stage }}</a></li>
                    {% endfor %}
                </ul>
            </div>

    {% endblock %}
{% endblock %}