{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-10 offset-1">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Entreprises</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <div class="p-3 border bg-light">
                 <h1>Cette page affiche la liste des stages proposés par '{{ id }}'</h1><BR>
                    {% for entreprises in tabEntreprises %}
                        <div class="card">
                        <div class="card-header bg-dark">
                            <a href="../../stages/A" class="text-white text-decoration-none"><h2>Le stage intitulé A</h2></a>
                        </div>
                        <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h6>Nom : A</li>
                            <li class="list-group-item"><h6>Formations : nomformations</li>
                        </ul>
                        </div>
                        </div><BR>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
