{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-10 offset-1">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Formations</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            
            <div class="col-10">
                <div class="p-3 border bg-light">
                    <h2>Cette page affiche la liste des stages proposés par la formation {{ ressourcesFormationParId.nomLong }}</h2><BR>
                    {% for formation in tabFormations %}
                        <div class="card mb-4">
                            <div class="card-header bg-dark">
                                <a href="../../stages/A" class="text-white text-decoration-none"><h2>Le stage intitulé A</h2></a>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><h6>Nom : A</li>
                                    <li class="list-group-item"><h6>Entreprise : nomEntreprise</li>
                                </ul>
                            </div>
                        </div><BR>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}
