{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-10 offset-1">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Formations</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <div class="p-3 border bg-light">
                    <h1>Cette page affiche la liste des stages dédiés à la formation '{{ id }}'</h1><BR>
                    <div class="card">
                    <div class="card-header">
                        <h2>Le stage intitulé A</h2>
                    </div>
                    <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h6>Nom : A</li>
                        <li class="list-group-item"><h6>Formations : formations</li>
                    </ul>
                    </div>
                    </div><BR>
                    <div class="card">
                    <div class="card-header">
                        <h2>Le stage intitulé B</h2>
                    </div>
                    <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h6>Nom : B</li>
                        <li class="list-group-item"><h6>Formations : formations</li>
                    </ul>
                    </div>
                    </div><BR>
                    <div class="card">
                    <div class="card-header">
                        <h2>Le stage intitulé C</h2>
                    </div>
                    <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h6>Nom : C</li>
                        <li class="list-group-item"><h6>Formations : formations</li>
                    </ul>
                    </div>
                    </div>
                    <BR> 
                </div>
            </div>
        </div>
    </div>


{% endblock %}
